{% extends "base.html" %}
{% block title %}
Login
{% endblock %}

{% block content %}

<center>

  {% with errmsgs = get_flashed_messages() %}
  {% if errmsgs %}
  <br> 
  {% for msg in errmsgs %}
  <h3> {{ msg }} </h3>
  {% endfor %}
  {% endif %}
  {% endwith %}
  
  <h1> Login </h1>
  <p> Please input your credentials </p>


  <br>	<br>
  <form action="/login" name="main" method="POST">
    <input type="text" name="user" placeholder="Username">
    <br><br>
    <input type="text" name="pass" placeholder="Password">
    <br><br>
    <button name="enter" type="submit">
      Submit
    </button>
  </form>

</center>

{% endblock %}
